<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @host %> - URL shortener by akosma software</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
    
<h1><%= @host %> - URL shortener by <a href="http://akosma.com">akosma software</a></h1>

<%= yield %>

<hr />

<p><strong>Bookmarklet for your browser:</strong> <%= link_to "shorten with " + @host, "javascript:location.href='http://" + @host + "/?url='+encodeURIComponent(location.href);" %> (drag and drop on your bookmark toolbar)</p>

<p><strong>API:</strong> Send a POST or GET request to <tt><%= @host %></tt> with a "url" parameter, with either an "Accept: application/javascript" or "Accept: text/xml" header. You'll get a simple text response with the shortened URL:</p>

<pre>$ curl --request GET --header "Accept: application/javascript" http://<%= @host %>/\?url=http://kosmaczewski.net/2008/08/11/saving-a-failing-project/
http://<%= @host %>/blzrur
$ _</pre>

You can also send a "reverse" parameter with the shortened key (not the whole URL, just the key) and you'll get the original URL in return:

<pre>$ curl --request GET --header "Accept: text/xml" http://<%= @host %>/\?reverse=blzrur
http://kosmaczewski.net/2008/08/11/saving-a-failing-project/
$ _</pre>

<hr />

<p>Powered by <a href="http://akosma.com">akosma software</a>&apos;s <a href="http://github.com/akosma/cortito/">cortito <%= CORTITO_VERSION %></a></p>

</body>
</html>
