<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @host %> - URL shortener by <%= @brand_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
    
<div id="container">

<div id="poweredby">URL shortener powered by<br />
    akosma software's cortito <%= CORTITO_VERSION %></div>

<div class="thickline"></div>
<div id="menu">
    <div id="githublink"><a href="http://github.com/akosma/cortito">Cortito on Github</a></div>
    <div id="otherlinks">
        <ul>
            <li><a id="bookmarkletlink" class="selected" href="#">Bookmarklet</a></li>
            <li><a id="apilink" href="#">API</a></li>
            <li><a id="creditslink" href="#">Credits</a></li>
        </ul>
    </div>
</div>
<div class="thinline"></div>

<div id="branding">
    <a href="/">cort<span id="ihighlighted">i</span>to <img src="images/cortito_logo.png" width="74" height="74"></a><span id="hostname"><%=
    if @short_url
        link_to @short_url.gsub("http://", ""), @short_url
    else 
        @host 
    end %></span>
</div>
<div class="thickline"></div>

<div id="main">
<%= yield %>
</div>

<div class="thickline"></div>

<div class="instructionsection documentation" id="bookmarklet"><p class="title">Bookmarklet</p> 
<p class="contents">For your browser: <%= link_to "shorten with " + @host, "javascript:location.href='http://" + @host + "/?url='+encodeURIComponent(location.href);" %></p>
<p class="contents">(drag and drop on your bookmark toolbar)</p>
</div>

<div class="instructionsection documentation" id="api">
<p class="title">API</p>

<p class="contents">Send a POST or GET request to <tt><%= @host %></tt> with a "url" parameter, with either an "Accept: application/javascript" or "Accept: text/xml" header. You'll get a simple text response with the shortened URL:</p>

<div class="sample">$ curl --request GET --header "Accept: application/javascript" http://<%= @host %>/\?url=http://kosmaczewski.net/2008/08/11/saving-a-failing-project/<br />
http://<%= @host %>/blzrur<br />
$ _</div>

<p class="contents">You can also send a "reverse" parameter with the shortened key (not the whole URL, just the key) and you'll get the original URL in return:</p>

<div class="sample">$ curl --request GET --header "Accept: text/xml" http://<%= @host %>/\?reverse=blzrur<br />
http://kosmaczewski.net/2008/08/11/saving-a-failing-project/<br />
$ _</div>
</div>

<div class="instructionsection documentation" id="credits">
<p class="title">Credits</p>
<p class="contents">Concept and programming by <a href="http://akosma.com/">akosma software</a>.</p>
<p class="contents">Visual design by <a href="http://zerofee.org/">Zerofee</a>.</p>
</div>

<div class="thickline"></div>

</div>

<script type="text/javascript" charset="utf-8" src="javascripts/jquery.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('div#otherlinks a').click(function(evt) {
        $('div#menu a').removeClass("selected");
        $(this).addClass("selected");
        $('div.documentation').hide();
        var divName = 'div#' + $(this).attr("id").replace("link", "");
        $(divName).fadeIn();
    });
});
</script>

</body>
</html>
