<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= @host %> - URL shortener by <%= @brand_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
    
<div id="container">

<div id="poweredby">URL shortener powered by<br />
    akosma software's cortito <%= CORTITO_VERSION %></div>

<div class="thickline"></div>
<div id="menu">
    <div id="githublink"><a href="http://github.com/akosma/cortito">Cortito on Github</a></div>
    <div id="otherlinks">
        <ul>
            <li><a id="bookmarkletlink" class="selected" href="#">Bookmarklet</a></li>
            <li><a id="apilink" href="#">API</a></li>
            <li><a id="termsofservicelink" href="#">Terms of Service</a></li>
            <li><a id="privacylink" href="#">Privacy</a></li>
            <li><a id="creditslink" href="#">Credits</a></li>
        </ul>
    </div>
</div>
<div class="thinline"></div>

<div id="branding">
    <a href="/">cort<span id="ihighlighted">i</span>to <img src="images/cortito_logo.png" width="74" height="74" alt="cortito logo" /></a><span id="hostname"><%=
    if @short_url
        link_to @short_url.gsub("http://", ""), @short_url
    else 
        @host 
    end %></span>
</div>
<div class="thickline"></div>

<div id="main">
<%= yield %>
</div>

<div class="thickline"></div>

<!-- Bookmarklet -->

<div class="instructionsection documentation" id="bookmarklet"><p class="title">Bookmarklet</p> 
<p class="contents">For your browser: <%= link_to "shorten with " + @host, "javascript:location.href='http://" + @host + "/?url='+encodeURIComponent(location.href);" %></p>
<p class="contents">(drag and drop on your bookmark toolbar)</p>
</div>

<!-- API -->

<div class="instructionsection documentation" id="api">
<p class="title">API</p>

<p class="contents">Send a POST or GET request to <span class="sample"><%= @host %></span> with a "url" parameter, with either an "Accept: application/javascript" or "Accept: text/xml" header. You'll get a simple text response with the shortened URL:</p>

<div class="sample">$ curl --request GET --header "Accept: application/javascript" http://<%= @host %>/\?url=http://kosmaczewski.net/2008/08/11/saving-a-failing-project/<br />
http://<%= @host %>/blzrur<br />
$ _</div>

<p class="contents">You can also send a "reverse" parameter with the shortened key (not the whole URL, just the key) and you'll get the original URL in return:</p>

<div class="sample">$ curl --request GET --header "Accept: text/xml" http://<%= @host %>/\?reverse=blzrur<br />
http://kosmaczewski.net/2008/08/11/saving-a-failing-project/<br />
$ _</div>
</div>

<!-- Terms of Service -->

<div class="instructionsection documentation" id="termsofservice">
<div id="termsofservicecontents"></div>
</div>

<!-- Privacy -->

<div class="instructionsection documentation" id="privacy">
<div id="privacycontents"></div>
</div>

<!-- Credits -->

<div class="instructionsection documentation" id="credits">
<p class="title">Credits</p>
<p class="contents">Concept and programming by <a href="http://akosma.com/">akosma software</a>.</p>
<p class="contents">Visual design by <a href="http://zerofee.org/">Zerofee</a>.</p>
<p class="contents"><a href="http://validator.w3.org/check?uri=http%3A%2F%2F<%= @host %>&charset=%28detect+automatically%29&doctype=Inline&group=0">HTML5</a> and <a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2F<%= @host %>%2Fstylesheets%2Fscaffold.css&profile=css3&usermedium=all&warning=1&lang=en">CSS3</a> validated.</p>
</div>

<div class="thickline"></div>

</div>

<script type="text/javascript" charset="utf-8" src="javascripts/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="javascripts/cortito.js"></script>

</body>
</html>
